@import "../vars.scss";
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    border-radius: 0px 0px 40px 40px;
  }
  
  .main__title {
    color: white;
    font-size: 25px;
  }

  .input {
    background-color: $main-color;
    border: 2px solid $font-color;
    border-radius: 25px;
    color: $font-color;
    font-family: $theme-font;
    font-size: 16px;
    height: 50px;
    margin-bottom: 20px;
    outline: none;
    padding: 0px 20px;
    width: 70%;
};
::-webkit-input-placeholder { color: $font-color; } 
