@import "./vars.scss";
@import "./media.scss";
* {
    box-sizing: border-box;
};

body {
    margin: 0;
    font-family: $theme-font;
    background: $main-color ;
};

body::-webkit-scrollbar {
    width: 1em;
    height: 1em;
  }
   
body::-webkit-scrollbar-thumb {
  background-color: $font-color;
    border-radius: 10px;
}

